[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "2.31.0"
beautifulsoup4 = "4.11.1"
halo = "*"
black = "*"
# pipfile = "*"
tqdm = "*"
chompjs = "1.1.9"
isort = "*"
sleeper-api-wrapper = {git = "https://github.com/dtsong/sleeper-api-wrapper.git"}
urllib3 = "1.26.18"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
