[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = ">=2.23.0"
bs4 = "*"
halo = "*"
black = "*"
pipfile = "*"
tqdm = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
