[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
bs4 = "*"
halo = "*"
black = "*"
pipfile = "*"
tqdm = "*"
chompjs = "*"
isort = "*"
pandas = "*"
sleeper-api-wrapper = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
